.mediaCard {
  margin-top: 0rem;
  min-height: 350px;
  max-height: 800px;
}

.carouselCard {
  max-width: 800px;
}

.carouselCard:hover {
}

@media screen and (max-width: 600px) {
  .mediaCard {
    margin-top: 3rem;
    margin-left: 1rem;
    min-height: 350px;
    max-height: 350px;
    max-width: 400px;
  }

  .carouselCard {
    margin-left: 2rem;
    max-width: 325px;
  }
}

@media screen and (max-width: 400px) {
  .carouselCard {
    margin-left: 2rem;
    max-width: 295px;
  }
}

@media screen and (max-width: 1920px) {
  .mediaCard {
    min-height: 350px;
    max-height: 700px;
    max-width: 700px;
  }

  .carouselCard {
    max-width: 700px;
  }
}
